{% load feincms_tags %}
{% if webview %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>{% block title %}Generic Newsletter{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>
{% endif %}
<body bgcolor="#CCCCCC" topmargin="0" leftmargin="0" >
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><table width="680" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="20" align="center" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" bgcolor="#FFFFFF"><table width="630" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="right"><a href="insertyourlovelydynamiclinkhere.com" class="webViewLink">NEWSLETTER IM BROWSER ÖFFNEN</a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#FFFFFF" height="60">&nbsp;</td>
      </tr>
      <tr>
        <td align="center"><a href="http://www.allink.ch" target="_blank"><img src="{{NEWSLETTER_URL}}default_logo.jpg" width="680" height="115" alt="allink" border="0" /></a></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#FFFFFF" height="26"></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#FFFFFF"><table width="630" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" bgcolor="#F4F4F4"><p>&nbsp;</p>





              <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" class="title"><h2>Penny Black</h2></td>
                </tr>
                <tr>
                  <td height="10">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top">The Penny Black was the world's first adhesive postage stamp used in a public postal system. It was issued by the United Kingdom of Great Britain and Ireland on 1 May 1840, for official use from 6 May of that year. All London post offices received official issues of the new stamps but other offices throughout the United Kingdom did not, continuing to accept postage payments in cash only for a period. Post offices such as those in Bath, began offering the stamp unofficially after 2 May.</td>
                </tr>
              </table>
              <br />
              <br />
              <br />







              <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="3" align="left" class="title"><h2>History</h2></td>
                </tr>
                <tr>
                  <td height="10" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                  <td width="100" align="left" valign="top"><img src="{{NEWSLETTER_URL}}default_image.jpg" width="100" height="116" /></td>
                  <td width="20">&nbsp;</td>
                  <td width="480" align="left" valign="top">The idea of an adhesive stamp to indicate pre-payment of postage was part of Sir Rowland Hill's 1837 proposals to reform the British postal system; it was normal then for the recipient to pay postage on delivery. A companion idea, which Hill disclosed on 13 February 1837 at a government enquiry, was that of a separate sheet that folded to form an enclosure or envelope for carrying letters. At that time postage was charged by the sheet and on the distance travelled.</td>
                </tr>
              </table>
              <br />
              <br />
              <br />
              
          




                <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" class="title"><h2>Printing</h2></td>
                </tr>
                <tr>
                  <td height="10">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="135"><img src="{{NEWSLETTER_URL}}default_image.jpg" width="135" height="157" /></td>
                      <td width="20" rowspan="2">&nbsp;</td>
                      <td width="135"><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      <td width="20" rowspan="2">&nbsp;</td>
                      <td width="135"><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      <td width="20" rowspan="2">&nbsp;</td>
                      <td width="135"><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      </tr>
                    <tr>
                      <td>Legende</td>
                      <td>Sub</td>
                      <td>Sub</td>
                      <td>Sub</td>
                      </tr>
                    <tr>
                      <td height="20" colspan="7">&nbsp;</td>
                      </tr>
                    <tr>
                      <td><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      <td rowspan="2">&nbsp;</td>
                      <td><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      <td rowspan="2">&nbsp;</td>
                      <td><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      <td rowspan="2">&nbsp;</td>
                      <td><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      </tr>
                    <tr>
                      <td>Sub</td>
                      <td>Sub</td>
                      <td>Sub</td>
                      <td>Sub</td>
                      </tr>
                    <tr>
                      <td height="20" colspan="7">&nbsp;</td>
                      </tr>
                    <tr>
                      <td><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      <td rowspan="2">&nbsp;</td>
                      <td><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      <td rowspan="2">&nbsp;</td>
                      <td><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      <td rowspan="2">&nbsp;</td>
                      <td><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      </tr>
                    <tr>
                      <td>Sub</td>
                      <td>Sub</td>
                      <td>Sub</td>
                      <td>Sub</td>
                      </tr>
                    <tr>
                      <td height="20" colspan="7">&nbsp;</td>
                      </tr>
                    <tr>
                      <td><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      <td rowspan="2">&nbsp;</td>
                      <td><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      <td rowspan="2">&nbsp;</td>
                      <td><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      <td rowspan="2">&nbsp;</td>
                      <td><img src="{{NEWSLETTER_URL}}default_image.jpg" alt="" width="135" height="157" /></td>
                      </tr>
                    <tr>
                      <td>Sub</td>
                      <td>Sub</td>
                      <td>Sub</td>
                      <td>Sub</td>
                      </tr>
                  </table></td>
                </tr>
              </table>
              <br />
              <br />






              <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" class="title"><h2>Rarity</h2></td>
                </tr>
                <tr>
                  <td height="10">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top"><img src="{{NEWSLETTER_URL}}default_image.jpg" width="600" height="600" /></td>
                </tr>
              </table>
              <br />
              <br />
              <br />
              <br />
              <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="right"><a href="yoursuperlinkhere.com" class="webViewLink">NEWSLETTER KÜNDIGEN</a></td>
                </tr>
                <tr>
                  <td align="right" height="20"></td>
                </tr>
              </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center"></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>


{% if webview %}
</html>
{% endif %}