{%extends "admin/change_form.html" %}
{% load i18n %}
<!-- Object-Tools -->
{% block object-tools %}
<style type="text/css" media="screen">
    #content-main ul.object-tools {
        float:right;
        margin:0 0 1em;
    }
    .object-tools + form {
        clear:both;
    }
</style>
<ul class="object-tools">
    <li><a href="statistics/">{% trans "Statistics" %}</a></li>
</ul>
{{ block.super }}
{% endblock %}

{% block after_related_objects %}
    {% if can_send %}
        <div class="submit-row">
            <input type="submit" value="Save and send" class="default" name="_send_prepare" />
        </div>
    {% endif %}
    {{block.super}}
{% endblock %}
