{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     <a href="../">{{ object|truncatewords:"18" }}</a> &rsaquo;
     {% trans "e-mail list"|capfirst %}
</div>
{% endblock %}

{% block content %}
    <h2>{% trans "receiver details"|capfirst %}</h2>
    <table border="0">
        <tr>
        	<th>{% trans "e-mail"|capfirst %}</th>
        	<th>{% trans "link clicks"|capfirst %}</th>
        	<th>{% trans "first opened"|capfirst %}</th>
        </tr>
        {% for mail in object.mails.most_clicked_first %}
        	<tr>
        		<td>{% if mail.admin_change_url %}<a href="{{ mail.admin_change_url }}">{{mail.email}}</a>{% else %}{{mail.email}}{% endif %}</td>
        		<td>{{mail.click_count}}</td>
        		<td>{{mail.viewed}}</td>
        	</tr>
        {% endfor %}
    </table>
{% endblock %}