{%extends "admin/change_form.html" %}
{% load i18n %}
<!-- Object-Tools -->
{% block object-tools %}
<ul class="object-tools">
    <li><a href="statistics/">{% trans "statistics"|capfirst %}</a></li>
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
</ul>
{% endblock %}

{% block after_related_objects %}
    {% if can_send %}
        <div class="submit-row">
            <input type="submit" value="Save and send" class="default" name="_send_prepare" />
        </div>
    {% endif %}
    {{block.super}}
{% endblock %}
