{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
    <h2>{% trans "Mail stats" %}</h2>
    <table border="0">
        <tr><th></th><th>{% trans "Count" %}</th><th>{% trans "Percentage" %}</th></tr>
        <tr><th>{% trans "Mails sent" %}</th><td>{{object.count_mails_sent}}</td><td>{{object.percentage_mails_sent}}%</td></tr>
        <tr><th>{% trans "Mails opened" %}</th><td>{{object.count_mails_viewed}}</td><td>{{object.percentage_mails_viewed}}%</td></tr>
        <tr><th>{% trans "Mails bounced" %}</th><td>{{object.count_mails_bounced}}</td><td>{{object.percentage_mails_bounced}}%</td></tr>
        <tr><th>{% trans "Total Mails" %}</th><td>{{object.count_mails_total}}</td></tr>
    </table>
    <h2>{% trans "Link Stats" %}</h2>
    <table border="0">
        <tr>
            <th>Target</th>
            <th>Clicks</th>
        </tr>
        {% for link in object.links.all %}
            <tr>
                <td>{{link.link_target}}</td>
                <td>{{link.click_count}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
